[submodule "nixpkgs"]
	path = submodules/nixpkgs
	url = https://github.com/cidkidnix/nixpkgs.git
[submodule "submodules/reflex-todomvc"]
	path = submodules/reflex-todomvc
	url = https://github.com/reflex-frp/reflex-todomvc.git
[submodule "submodules/haskell.nix"]
	path = submodules/haskell.nix
	url = git@github.com:obsidiansystems/haskell.nix.git
