name: try-reflex-test

on: workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
           nix_path: nixpkgs=channel:nixos-unstable
           extra_nix_config: |
              trusted-public-keys = ryantrinkle.com-1:JJiAKaRv9mWgpVAz8dwewnZe0AzzEAzPkagE9SP5NWI=
              substituters = https://cache.nixos.org/ https://nixcache.reflex-frp.org
      - name: try-reflex
        run: nix-build -A tryReflexShell
